*.co linguist-language=compis
# note: examples/* is considered "linguist-documentation" by default
etc/libxar/** linguist-vendored
etc/pbzx.c linguist-vendored
lib/clangres/** linguist-vendored
lib/darwin/** linguist-vendored
lib/libcxx/** linguist-vendored
lib/libcxxabi/** linguist-vendored
lib/librt/** linguist-vendored
lib/libunwind/** linguist-vendored
lib/musl/** linguist-vendored
lib/sysinc-src/** linguist-vendored
lib/wasi/** linguist-vendored
src/librt_info.h linguist-generated
src/llvm/clang*.cc linguist-vendored
src/llvm/llvm-ar.cc linguist-vendored
src/musl_info.h linguist-generated
src/syslib_libcxx.h linguist-generated
src/syslib_libcxxabi.h linguist-generated
src/syslib_libunwind.h linguist-generated
src/wasi_info.h linguist-generated
